<ion-nav-view cache-view="false">
    <ion-nav-bar class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left"
                    menu-toggle="left"
                    ng-click="seleccionaJugadores()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>Campos</ion-nav-title>
        <ion-nav-buttons side="right">
            <button
                class="button button-icon button-clear ion-chevron-right"
                menu-toggle="right"
                ng-click="seleccionaApuestas()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="contenedor content-after-top-tabs">
            <div class="lista-campos-cuenta">
                <ion-list ng-if="sesionActual" ng-repeat="campo in campos"
                          ng-model="campos">
                    <ion-radio class="item item-avatar" ng-model="select" ng-value="campo.seleccionado"
                               on-hold="popupOpcionesCampo(campo.id, campo.nombre, $index)"
                               ng-change="campoSeleccionado(campo)">
                        <img src="img/ionic_2.png">
                        <h2 style="padding-top: 10px">{{campo.nombre}}</h2>
                    </ion-radio>

                </ion-list>
                <p ng-if="!sesionActual" style="padding: 10px;">
                    Debes iniciar sesión para seleccionar campos de la cuenta.
                </p>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
