<div >
    <div>
        <label for="nombreJug">Nombre:</label>
        <input id="nombreJug" type="text" ng-model="data.nombreJug"
               name="data.nombreJug" autofocus style="{{data.styleNombre}}"
               ng-focus="data.styleNombre = ''">
    </div>
    <br>
    <div>
        <label for="handicap">Handicap:</label>
        <input id="handicap" type="text" ng-model="data.handicap"
               style="{{data.styleHandicap}}"
               ng-focus="data.styleHandicap = ''">
    </div>
</div>