<ion-nav-view>
    <ion-nav-bar class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-home"
                    menu-toggle="left" ng-click="seleccionarInicio()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>Juego en Curso</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon-round"
                    menu-toggle="left" ng-click="showOpcionesPartido($event)">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header">
        <div class="contenedor">
            <div class="div-table-scoreboard">
                <table id="table_juego_consulta">
                    <thead>
                    <tr>
                        <th>HOYO</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th rowspan="3" class="vertical-centered-cell">
                            1er. vuelta
                        </th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th rowspan="3" class="vertical-centered-cell">
                            2da. vuelta
                        </th>
                        <th rowspan="3" class="vertical-centered-cell">
                            Total
                        </th>
                        <th rowspan="3" class="vertical-centered-cell">
                            Handicap
                        </th>
                        <th rowspan="3" class="vertical-centered-cell">
                            Neto
                        </th>
                    </tr>
                    <tr>
                        <th>PAR</th>
                        <th ng-repeat="par in tablero.campo.pares1a9">
                            {{par.value}}
                        </th>
                        <th ng-repeat="par in tablero.campo.pares10a18">
                            {{par.value}}
                        </th>
                    </tr>
                    <tr>
                        <th>VENTAJA</th>
                        <th ng-repeat="ventaja in tablero.campo.ventajas1a9">
                            {{ventaja.value}}
                        </th>
                        <th ng-repeat="ventaja in tablero.campo.ventajas10a18">
                            {{ventaja.value}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="puntuacion in tablero.datos_juego"
                        ng-if="puntuacion.nombre != 'Mudo'">
                        <td class="vertical-centered-cell">
                            {{puntuacion.nombre}}
                            <br>
                            {{puntuacion.handicap}}
                        </td>
                        <td ng-repeat="hoyo in hoyos1a9" >
                            <button class="button btn-celda-juego"
                                    ng-click="guardarPuntos(puntuacion.index,
                                    puntuacion.jugador_id, hoyo)">
                                <div class="div-boton-juego">
                                    <div class="golpes-turno">
                                        <div class="{{puntuacion.circulos[hoyo - 1][0]}}">
                                            <div class="{{puntuacion.circulos[hoyo - 1][1]}}">
                                                <div class="{{puntuacion.circulos[hoyo - 1][2]}}">
                                                    <div class="{{puntuacion.circulos[hoyo - 1][3]}}">
                                                        {{puntuacion.golpes[hoyo
                                                        - 1]}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         style="{{puntuacion.apuestaRayas.style_rayas[hoyo -
                                         1]}}"
                                         ng-if="tablero.rayasSeleccionada">
                                        {{puntuacion.apuestaRayas.units[hoyo -
                                        1]}}
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="!tablero.rayasSeleccionada">-</div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="tablero.rayasSeleccionada">
                                        {{puntuacion.apuestaRayas.unidades[hoyo
                                        - 1]}}
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="!tablero.rayasSeleccionada">-</div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="tablero.conejaSeleccionada"
                                         style="color: blue">
                                        {{puntuacion.apuestaConeja.status[hoyo - 1]}}
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="!tablero.conejaSeleccionada">-</div>
                                </div>
                            </button>
                        </td>
                        <td class="vertical-centered-cell big-text-cell">
                            {{puntuacion.totales_golpes[0]}}
                        </td>
                        <td ng-repeat="hoyo in hoyos10a18">
                            <button class="button btn-celda-juego"
                                    ng-click="guardarPuntos(puntuacion.index,
                                    puntuacion.jugador_id, hoyo)">
                                <div class="div-boton-juego">
                                    <div class="golpes-turno">
                                        <div class="{{puntuacion.circulos[hoyo - 1][0]}}">
                                            <div class="{{puntuacion.circulos[hoyo - 1][1]}}">
                                                <div class="{{puntuacion.circulos[hoyo - 1][2]}}">
                                                    <div class="{{puntuacion.circulos[hoyo - 1][3]}}">
                                                        {{puntuacion.golpes[hoyo
                                                        - 1]}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         style="{{puntuacion.apuestaRayas.style_rayas[hoyo -
                                         1]}}"
                                         ng-if="tablero.rayasSeleccionada">
                                        {{puntuacion.apuestaRayas.units[hoyo -
                                        1]}}
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="!tablero.rayasSeleccionada">-</div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="tablero.rayasSeleccionada">
                                        {{puntuacion.apuestaRayas.unidades[hoyo
                                        - 1]}}
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="!tablero.rayasSeleccionada">-</div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="tablero.conejaSeleccionada"
                                         style="color: blue">
                                        {{puntuacion.apuestaConeja.status[hoyo - 1]}}
                                    </div>
                                    <div class="apuesta-tablero-principal"
                                         ng-if="!tablero.conejaSeleccionada">-</div>
                                </div>
                            </button>
                        </td>
                        <td class="vertical-centered-cell big-text-cell">
                            {{puntuacion.totales_golpes[1]}}
                        </td>
                        <td class="vertical-centered-cell big-text-cell">
                            {{puntuacion.totales_golpes[2]}}
                        </td>
                        <td class="vertical-centered-cell big-text-cell">
                            {{puntuacion.handicap}}
                        </td>
                        <td class="vertical-centered-cell">
                            <div class="row row-bottom" style="margin-left: 5% ">
                                <div class="col big-text-cell">{{puntuacion.totales_golpes[3]}}</div>
                                <div class="col">{{puntuacion.lugar}}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
