<ion-nav-view>
    <ion-side-menus>
        <ion-side-menu-content drag-content="false">
            <ion-nav-bar class="bar-balanced" align-title="center">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-chevron-left"
                            menu-toggle="left"
                            ng-click="goJuegoGeneral()"></button>
                    <h1 class="title">Juego Foursome</h1>
                    <button class="button button-icon button-clear ion-navicon"
                            menu-toggle="right"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view>
                <ion-content class="has-header">
                    <div class="contenedor">
                        <div class="div-table-scoreboard">
                            <table id="table_foursome">
                                <thead>
                                <tr>
                                    <th>HOYO</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                </tr>
                                <tr>
                                    <th>PAR</th>
                                    <th ng-repeat="par in tablero.campo.pares">
                                        {{par.value}}
                                    </th>
                                </tr>
                                <tr>
                                    <th>VENTAJA</th>
                                    <th ng-repeat="ventaja in tablero.campo.ventajas">
                                        {{ventaja.value}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        ng-repeat="puntuacion in tableroPareja.datos_juego">
                                    <td class="vertical-centered-cell">
                                        {{puntuacion.nombre}}
                                        <br>
                                        {{puntuacion.handicap}}
                                    </td>
                                    <td ng-repeat="hoyo in hoyos"
                                        class="td-golpes">
                                        <div class="golpes-foursome">
                                            <div class="{{puntuacion.circulos[hoyo - 1][0]}} l1">
                                                <div class="{{puntuacion.circulos[hoyo - 1][1]}} l2">
                                                    <div class="{{puntuacion.circulos[hoyo - 1][2]}} l3">
                                                        <div class="{{puntuacion.circulos[hoyo - 1][3]}} l4">
                                                            <span>{{puntuacion.golpes[hoyo
                                                            - 1]}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="row-foursome">
                                    <td class="vertical-centered-cell">
                                        Puntos
                                    </td>
                                    <td ng-repeat="hoyo in hoyos">
                                        <p>A</p>
                                        <p>B</p>
                                        <p>C</p>
                                        <p>D</p>
                                        <p>K</p>
                                        <p>7</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="right">
            <ion-header-bar class="bar-balanced">
                <h1 class="title">Parejas</h1>
            </ion-header-bar>
            <ion-content class="list">
                <br>
                <div ng-repeat="competicion in tablero.apuestaFoursome"
                     ng-if="parejasDobles">
                    <a class="item" style="font-size: small"
                       ng-click="verFoursomePareja($index)">
                        [{{competicion.p1_j1.nombre}}
                        -
                        {{competicion.p1_j2.nombre}}]
                        VS
                        [{{competicion.p2_j1.nombre}}
                        -
                        {{competicion.p2_j2.nombre}}]
                    </a>
                </div>
                <div ng-repeat="parejaD in parejas" ng-if="!parejasDobles">
                    <a class="item" style="font-size: small">
                        {{parejas.j_1_nombre}} - {{parejas.j_2_nombre}} vs
                        {{parejas.j_3_nombre}} - {{parejas.j_4_nombre}}
                    </a>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-nav-view>
