<ion-nav-view>
    <ion-nav-bar class="bar-balanced" align-title="center"
                 ng-controller="campoCtrl">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <a>
                <button class="button button-icon button-clear ion-chevron-left"
                        menu-toggle="left"
                        ng-click="guardarPantallaNuevoCampo(3)">
                </button>
                <h1 class="title">Campo Nuevo</h1>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-cont>
        <div class="contenedor">
            <div>
                <label class="item item-input inp-nc">
                    <span class="input-label">Campo</span>
                    <input type="text" placeholder="Ej:Campo Bernardez"
                           class="inp-nc" id="nombreCampoNuevo">
                </label>
            </div>
            <div class="table-responsive tabla-ncampo">
                <table class="table table-bordered tabla-ncampo-t">
                    <thead>
                    <tr>
                        <th>HOYO</th>
                        <th>PAR</th>
                        <th>VENTAJA</th>
                    </tr>
                    </thead>
                    <tbody class="tabla-ncampo-l">
                    <tr>
                        <td><p>1</p></td>
                        <td><input type="number" ng-model="par1" name="par1"
                                   id="par1"></td>
                        <td><input type="number" ng-model="ven1" name="ven1"
                                   id="ven1"></td>
                    </tr>
                    <tr>
                        <td><p>2</p></td>
                        <td><input type="number" ng-model="par2" name="par2"
                                   id="par2"></td>
                        <td><input type="number" ng-model="ven2" name="ven2"
                                   id="ven2"></td>
                    </tr>
                    <tr>
                        <td><p>3</p></td>
                        <td><input type="number" ng-model="par3" name="par3"
                                   id="par3"></td>
                        <td><input type="number" ng-model="ven3" name="ven3"
                                   id="ven3"></td>
                    </tr>
                    <tr>
                        <td><p>4</p></td>
                        <td><input type="number" ng-model="par4" name="par4"
                                   id="par4"></td>
                        <td><input type="number" ng-model="ven4" name="ven4"
                                   id="ven4"></td>
                    </tr>
                    <tr>
                        <td><p>5</p></td>
                        <td><input type="number" ng-model="par5" name="par5"
                                   id="par5"></td>
                        <td><input type="number" ng-model="ven5" name="ven5"
                                   id="ven5"></td>
                    </tr>
                    <tr>
                        <td><p>6</p></td>
                        <td><input type="number" ng-model="par6" name="par6"
                                   id="par6"></td>
                        <td><input type="number" ng-model="ven6" name="ven6"
                                   id="ven6"></td>
                    </tr>
                    <tr>
                        <td><p>7</p></td>
                        <td><input type="number" ng-model="par7" name="par7"
                                   id="par7"></td>
                        <td><input type="number" ng-model="ven7" name="ven7"
                                   id="ven7"></td>
                    </tr>
                    <tr>
                        <td><p>8</p></td>
                        <td><input type="number" ng-model="par8" name="par8"
                                   id="par8"></td>
                        <td><input type="number" ng-model="ven8" name="ven8"
                                   id="ven8"></td>
                    </tr>
                    <tr>
                        <td><p>9</p></td>
                        <td><input type="number" ng-model="par9" name="par9"
                                   id="par9"></td>
                        <td><input type="number" ng-model="ven9" name="ven9"
                                   id="ven9"></td>
                    </tr>
                    <tr>
                        <td><p>10</p></td>
                        <td><input type="number" ng-model="par10" name="par10"
                                   id="par10"></td>
                        <td><input type="number" ng-model="ven10" name="ven10"
                                   id="ven10"></td>
                    </tr>
                    <tr>
                        <td><p>11</p></td>
                        <td><input type="number" ng-model="par11" name="par11"
                                   id="par11"></td>
                        <td><input type="number" ng-model="ven11" name="ven11"
                                   id="ven11"></td>
                    </tr>
                    <tr>
                        <td><p>12</p></td>
                        <td><input type="number" ng-model="par12" name="par12"
                                   id="par12"></td>
                        <td><input type="number" ng-model="ven12" name="ven12"
                                   id="ven12"></td>
                    </tr>
                    <tr>
                        <td><p>13</p></td>
                        <td><input type="number" ng-model="par13" name="par13"
                                   id="par13"></td>
                        <td><input type="number" ng-model="ven13" name="ven13"
                                   id="ven13"></td>
                    </tr>
                    <tr>
                        <td><p>14</p></td>
                        <td><input type="number" ng-model="par14" name="par14"
                                   id="par14"></td>
                        <td><input type="number" ng-model="ven14" name="ven14"
                                   id="ven14"></td>
                    </tr>
                    <tr>
                        <td><p>15</p></td>
                        <td><input type="number" ng-model="par15" name="par15"
                                   id="par15"></td>
                        <td><input type="number" ng-model="ven15" name="ven15"
                                   id="ven15"></td>
                    </tr>
                    <tr>
                        <td><p>16</p></td>
                        <td><input type="number" ng-model="par16" name="par16"
                                   id="par16"></td>
                        <td><input type="number" ng-model="ven16" name="ven16"
                                   id="ven16"></td>
                    </tr>
                    <tr>
                        <td><p>17</p></td>
                        <td><input type="number" ng-model="par17" name="par17"
                                   id="par17"></td>
                        <td><input type="number" ng-model="ven17" name="ven17"
                                   id="ven17"></td>
                    </tr>
                    <tr>
                        <td><p>18</p></td>
                        <td><input type="number" ng-model="par18" name="par18"
                                   id="par18"></td>
                        <td><input type="number" ng-model="ven18" name="ven18"
                                   id="ven18"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-controller="campoCtrl">
                <a>
                    <button
                        class="button button-full button-balanced boton-agrega-camponuevo"
                        ng-click="guardarCampo()">Guardar Campo
                    </button>
                </a>
            </div>
        </div>
    </ion-cont>
</ion-nav-view>
