<ion-nav-view>
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <a href="/#/seleccion_campo">
        <button class="button button-icon button-clear ion-chevron-left" menu-toggle="left">

        </button>
        <h1 class="title">Campo Nuevo</h1>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-cont>
    <div class="contenedor">
      <div>
        <label class="item item-input inp-nc">
          <span class="input-label">Campo</span>
          <input type="text"placeholder="Ej:Campo Bernardez" class="inp-nc">
        </label>
      </div>
      <div class="table-responsive tabla-ncampo">
        <table class="table table-bordered tabla-ncampo-t">
          <thead>
          <tr>
            <th>HOYO</th>
            <th>PAR</th>
            <th>VENTAJA</th>
          </tr>
          </thead>
          <tbody class="tabla-ncampo-l">
          <tr>
            <td><p>1</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>1</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>2</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>3</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>4</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>5</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>6</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>7</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>8</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>9</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>10</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>11</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>12</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>13</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>14</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>15</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>16</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>17</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><p>18</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <a href="/#/seleccion_campo"><button class="button button-full button-balanced boton-agrega-camponuevo">Guardar Campo</button></a>
      </div>
    </div>
  </ion-cont>
</ion-nav-view>
