<ion-nav-view>
    <ion-nav-bar class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left"
                    menu-toggle="left"
                    ng-click="seleccionarCampo()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>{{statusCampo}}</ion-nav-title>
    </ion-nav-bar>

    <ion-content>
        <div class="contenedor pad-top">
            <div class="tab-jug">
                <label class="item item-input inp-nc">
                    <span class="input-label">Nombre: </span>
                    <input type="text" class="inp-nc" id="nombreCampoNuevo"
                    placeholder="Ingresa el nombre">
                </label>
                <table class="table table-bordered table-text-vertical-centered
                table-datos-campo">
                    <thead>
                    <tr>
                        <th>HOYO</th>
                        <th>PAR</th>
                        <th>VENTAJA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="number" ng-model="par1" name="par1"
                                   id="par1"></td>
                        <td><input type="number" ng-model="ven1" name="ven1"
                                   id="ven1"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><input type="number" ng-model="par2" name="par2"
                                   id="par2"></td>
                        <td><input type="number" ng-model="ven2" name="ven2"
                                   id="ven2"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><input type="number" ng-model="par3" name="par3"
                                   id="par3"></td>
                        <td><input type="number" ng-model="ven3" name="ven3"
                                   id="ven3"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><input type="number" ng-model="par4" name="par4"
                                   id="par4"></td>
                        <td><input type="number" ng-model="ven4" name="ven4"
                                   id="ven4"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><input type="number" ng-model="par5" name="par5"
                                   id="par5"></td>
                        <td><input type="number" ng-model="ven5" name="ven5"
                                   id="ven5"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><input type="number" ng-model="par6" name="par6"
                                   id="par6"></td>
                        <td><input type="number" ng-model="ven6" name="ven6"
                                   id="ven6"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><input type="number" ng-model="par7" name="par7"
                                   id="par7"></td>
                        <td><input type="number" ng-model="ven7" name="ven7"
                                   id="ven7"></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><input type="number" ng-model="par8" name="par8"
                                   id="par8"></td>
                        <td><input type="number" ng-model="ven8" name="ven8"
                                   id="ven8"></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><input type="number" ng-model="par9" name="par9"
                                   id="par9"></td>
                        <td><input type="number" ng-model="ven9" name="ven9"
                                   id="ven9"></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><input type="number" ng-model="par10" name="par10"
                                   id="par10"></td>
                        <td><input type="number" ng-model="ven10" name="ven10"
                                   id="ven10"></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td><input type="number" ng-model="par11" name="par11"
                                   id="par11"></td>
                        <td><input type="number" ng-model="ven11" name="ven11"
                                   id="ven11"></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td><input type="number" ng-model="par12" name="par12"
                                   id="par12"></td>
                        <td><input type="number" ng-model="ven12" name="ven12"
                                   id="ven12"></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td><input type="number" ng-model="par13" name="par13"
                                   id="par13"></td>
                        <td><input type="number" ng-model="ven13" name="ven13"
                                   id="ven13"></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td><input type="number" ng-model="par14" name="par14"
                                   id="par14"></td>
                        <td><input type="number" ng-model="ven14" name="ven14"
                                   id="ven14"></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td><input type="number" ng-model="par15" name="par15"
                                   id="par15"></td>
                        <td><input type="number" ng-model="ven15" name="ven15"
                                   id="ven15"></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td><input type="number" ng-model="par16" name="par16"
                                   id="par16"></td>
                        <td><input type="number" ng-model="ven16" name="ven16"
                                   id="ven16"></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td><input type="number" ng-model="par17" name="par17"
                                   id="par17"></td>
                        <td><input type="number" ng-model="ven17" name="ven17"
                                   id="ven17"></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td><input type="number" ng-model="par18" name="par18"
                                   id="par18"></td>
                        <td><input type="number" ng-model="ven18" name="ven18"
                                   id="ven18"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button class="button button-balanced button-block btn-full
                btn-fixed-bottom" ng-click="guardarCampo()">
                    Guardar Campo
                </button>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
