<ion-popover-view class="fit">
    <ion-header-bar>
        <h1 class="title">Opciones</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list no-spacing-list">
            <li class="item" ng-if="sesionActual || solo_vista">
                <button class="button button-full button-stable">
                    <strong>Clave: </strong>
                    <span class="monospaced">
                        {{partidoExistente.claveConsulta}}
                    </span>
                </button>
            </li>
            <li class="item" ng-if="foursomeSeleccionada">
                <button class="button button-full button-positive"
                        ng-click="selectFoursome()">
                    Nassau
                </button>
            </li>
            <li class="item" ng-if="sesionActual || solo_vista">
                <button class="button button-full button-balanced"
                        ng-disabled="partidoSincronizado"
                        name="btnFinalizar" ng-click="actualizarJuego()">
                    Actualizar
                </button>
            </li>
            <li class="item" ng-if="!solo_vista">
                <button class="button button-full button-dark"
                        name="btnRecargar" ng-click="recargarJuego()">
                    Recargar
                </button>
            </li>
            <li class="item">
                <button class="button button-full button-assertive"
                        name="btnFinalizar" ng-click="finalizarPartido()">
                    Finalizar
                </button>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>
