<ion-nav-view>
    <ion-nav-bar class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left"
                    menu-toggle="left"
                    ng-click="goInicio()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>Crear Nueva Cuenta</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <div>
                <label class="item" style="text-align: center">
                    <i class="glyphicon glyphicon-user"
                       style="font-size: 150px; color: #d8d8d8"></i>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Correo electrónico:</span>
                    <input type="email" ng-model="registroData.correo">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contraseña:</span>
                    <input type="password" ng-model="registroData.password">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirmar contraseña:</span>
                    <input type="password" ng-model="registroData.passwordConf">
                </label>
                <label class="item" style="text-align: center">
                    <input type="button"
                           class="button button-block button-balanced"
                           value="Registro"
                           ng-click="registrarCuenta()">
                </label>
                <label class="item" style="text-align: center">
                    <input type="button"
                           class="button button-clear button-positive"
                           value="Inicia Sesión Aquí" ng-click="goLogin()">
                </label>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
