<ion-nav-view>
  <ion-nav-bar class="bar-balanced" align-title="center" ng-controller="ctrlInicio">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <a>
        <button class="button button-icon button-clear ion-chevron-left" menu-toggle="left" ng-click="paginas(3)">

        </button>
        <h1 class="title">Apuestas</h1>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-contet ng-controller="apuestasCtrl">
    <div class="contenedor">
      <div class="lista-apuestas">
        <ion-list ng-repeat="apuesta in apuestas" style="overflow-y: scroll!important;">
          <ion-checkbox ng-model="$index">{{apuesta.nombre}}</ion-checkbox>
        </ion-list>
      </div>
      <div ng-controller="ctrlInicio">
        <a><button class="button button-full button-balanced boton-agrega-jugador" ng-click="paginas(6)" style="background-color: black; color: #28a54c;">Comenzar Juego</button></a>
      </div>
    </div>
  </ion-contet>
</ion-nav-view>
