<ion-nav-view>
  <ion-nav-bar class="bar-balanced" align-title="center" ng-controller="ctrlInicio">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <a>
        <button class="button button-icon button-clear ion-chevron-left" menu-toggle="left" ng-click="paginas(2)">

        </button>
        <h1 class="title">Campos</h1>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a>
        <button class="button button-icon icon-right button-clear ion-chevron-right" menu-toggle="right" ng-click="paginas(4)">

        </button>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-contet ng-controller="ctrlCampo">
    <div class="contenedor">
      <div class="lista-campos">
        <ion-list ng-repeat="campo in campos" style="overflow-y: scroll!important;">
          <ion-radio ng-model="choice" ng-value="'A'">
            <p style="font-weight: bold;">{{campo.nombre}}</p>
            <p>{{campo.ubicacion}}</p>
          </ion-radio>
        </ion-list>
      </div>
      <div ng-controller="ctrlInicio">
        <a><button class="button button-full button-balanced boton-agrega-jugador" ng-click="paginas(5)">Configura tu campo</button></a>
      </div>
    </div>
  </ion-contet>
</ion-nav-view>

