<ion-nav-view>
    <ion-nav-bar class="bar-balanced" align-title="center"
                 ng-controller="ctrlCampo">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left"
                    menu-toggle="left"
                    ng-click="guardarPantallaSeleccionCampo(2)">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>Campos</ion-nav-title>
        <ion-nav-buttons side="right">
            <button
                    class="button button-icon button-clear ion-chevron-right"
                    menu-toggle="right"
                    ng-click="guardarPantallaSeleccionCampo(4)">

            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-controller="ctrlCampo">
        <div class="contenedor">
            <div class="lista-campos">
                <ion-list ng-repeat="campo in campos" ng-model="campos">
                    <ion-radio ng-model="select" ng-value="campo.seleccionado"
                               ng-change="campoSeleccionado(campo)">
                        <p style="font-weight: bold;">{{campo.nombre}}</p>
                        <p>{{campo.id}}</p>
                    </ion-radio>
                </ion-list>
            </div>
            <div ng-controller="ctrlInicio">
                <button
                        class="button button-balanced button-block btn-full
                        btn-fixed-bottom"
                        ng-click="guardarPantallaSeleccionCampo(5)">
                    Nuevo campo
                </button>
            </div>
        </div>
    </ion-content>
</ion-nav-view>