<ion-nav-view>
    <ion-nav-bar class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left"
                    menu-toggle="left"
                    ng-click="seleccionarCampo()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>Apuestas</ion-nav-title>
        <ion-nav-buttons side="right">
        <button ng-if="iSfoursome" class="button button-icon icon-right button-clear ion-chevron-right"
                menu-toggle="right" ng-click="seleccionParejas()">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="contenedor pad-top">
            <div class="lista-apuestas">
                <table class="table table-striped table-text-vertical-centered"
                       style="overflow-y: scroll!important;">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="apuesta in apuestas" ng-model="apuestas"
                        class="{'fadeOut' : skill.done}">
                        <td><i class="icon ion-ios-list-outline" style="font-size: 200%"></i></td>
                        <td style="width: 80%; text-align: left">{{apuesta.nombre}}</td>
                        <td style="width: 20%;">
                            <label class="toggle toggle-assertive">
                                <input ng-model="apuesta.seleccionada" ng-change="apuestaSeleccionada(apuesta)" type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button ng-if="!iSfoursome"
                        class="button button-balanced button-block
                        btn-full btn-fixed-bottom my-btn-red"
                        ng-click="seleccionarJuego()">
                    Comenzar juego
                </button>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
