.acercaDe {
    background-color: #1E8454 !important;
    color: white !important;
    overflow: scroll;
}

.acercaDe h3 {
    color: white !important;
}

.bar-white {
    background-color: white !important;
}

.bar-white * {
    color: #1E8454 !important;
}

.titulo-acercaDe {
    font-size: 30px;
    padding-top: 5%;
    font-weight: bold;
}

.informacion-acercaDe {
    padding: 5% 5% 0 10%;
}

.imagen-acercaDe {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: auto;
}
