.div-table-scoreboard td, .div-table-scoreboard th {
    text-align: center !important;
    font-weight: bold !important;
}

.btn-celda-juego {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
}

.btn-celda-juego > table {
    border: solid red 1px !important;
    width: 100%;
    height: 100%;
}

.golpes-turno {
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 20%;
    font-size: 30px;
    font-weight: bold;
}

.unidades-turno {
    height: 50%;
    width: 50%;
    float: right;
}

.rayas-turno {
    height: 50%;
    width: 50%;
    float: right;
}

.div-circular {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}

.circular-hidden {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}