
.editar-nuevo-jugador {
    background-color: #27437F !important;
    color: white !important;
}

.eliminar-nuevo-jugador {
    background-color: #BE2F2B !important;
    color: white !important;
}

.tab-jug {
    overflow: scroll;
    height: 100%;
    padding-bottom: 50px;
}

.btn-fixed-bottom {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
