
.editar-nuevo-jugador {
    color: white;
    background-color: #0c60ee;
}

.eliminar-nuevo-jugador {
    color: white;
    background-color: red;
}

/*.tab-jug {*/
/*height: 50% !important;*/
/*overflow: scroll;*/
/*border: solid red;*/
/*}*/

/*.tab-jug {*/
/*overflow: scroll;*/
/*height: 100%;*/
/*!*height: auto !important;*!*/
/*padding-bottom: 50px !important;*/
/*}*/

.tab-jug {
    overflow: scroll;
    height: 100%;
    padding-bottom: 50px;
}

.btn-fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
