
.boton-agrega-campo{
  border-radius: 20px;
  position:fixed;
  bottom:0;
  right:0;
}

.titulo-seleccion-campo{
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.lista-campos{
  overflow: scroll;
  height: 90%;
}
